In [1]:
# Import
import pandas as pd
import nltk
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import torch
from torch.utils.data import TensorDataset, DataLoader, RandomSampler, SequentialSampler
from transformers import BertForSequenceClassification, AdamW, BertConfig
from transformers import BertTokenizer
from keras_preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report as clsr
from sklearn.metrics import confusion_matrix, cohen_kappa_score, plot_confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.manifold import TSNE

/Users/kevin/opt/anaconda3/envs/anly-580/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def tokenize(text):
    tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
    
    input_id = tokenizer.encode(text,
                                add_special_tokens=True, 
                                max_length=128,
                                truncation=True)
    att_mask = [int(token_id > 0) for token_id in input_id]

    batch = {"input_ids": torch.tensor([input_id]), "attention_mask": torch.tensor([att_mask])}
    

    return batch

def predict(text):
    model1.eval()
    with torch.no_grad():
        outputs = model1(**tokenize(text), 
                        token_type_ids=None, 
                        )
    logits = outputs[0]
    logits = logits.detach().cpu().numpy()

    preds_flat = np.argmax(logits, axis=1).flatten()
    return(preds_flat[0])

In [3]:
model1 = torch.load("trained_model.pt", map_location=torch.device('cpu'))

In [4]:
tokenize("'risk creat last problem share unemploy jobless gt;number month rise number% februari number% novemb rise sharpli peopl lose contact labor market lose connect skill hope http t co qoznumbergwnumberxrh'")

{'input_ids': tensor([[  101,  1005,  3891, 13675,  5243,  2102,  2197,  3291,  3745, 16655,
           8737,  4135,  2100,  3105,  3238, 14181,  1025,  2193,  3204,  4125,
           2193,  1003, 13114,  6820,  8486,  2193,  1003, 13292,  6633,  2497,
           4125,  4629,  3669, 21877,  7361,  2140,  4558,  3967,  4450,  3006,
           4558,  7532,  8066,  3246,  8299,  1056,  2522,  1053, 18153, 19172,
           4059,  7962, 29440,  2595, 25032,  1005,   102]]),
 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
          1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
          1, 1, 1, 1, 1, 1, 1, 1, 1]])}

In [5]:
df = pd.read_csv('all_clean.csv')
text=df['text']
usdx_mean_label=df['usdx_mean_label']

In [6]:
label_to_index = {}
index_to_label = {}
label_list = list(set(usdx_mean_label))
for i in range(len(label_list)):
    label = label_list[i]
    label_to_index[label] = i
    index_to_label[i] = label

In [7]:
labels = [label_to_index[label] for label in usdx_mean_label]

In [8]:
train_text, test_text, train_labels, test_labels= train_test_split(df['text'], labels, test_size=0.2, random_state=42)

In [9]:
test_df = test_text.reset_index()
test_df['labels'] = test_labels
test_df = test_df

In [10]:
test_df['predict_label'] = test_df['text'].apply(lambda x: predict(x))[:100]

In [11]:
test_df[(test_df['labels'] ==  0) & (test_df["predict_label"] == 0)]

,index,text,labels,predict_label
3,5776,good read find glut offic build http t co znum...,0,0.0
5,3821,fix incom govern bond yield leg number year yi...,0,0.0
15,6357,retreat risk capit push price risk market bond...,0,0.0
17,5014,go withdraw cash discov atm card expir decemb ...,0,0.0
26,5733,induct rang curiou need bougi trend will switch,0,0.0
38,3793,thank charliebilello share chart earli tweet i...,0,0.0
41,469,pmi close number indic stabil normal right dif...,0,0.0
58,2763,invest quot day http t co dntrygnumberqnumberu,0,0.0
75,2091,datum consist strong stagflationari wind consu...,0,0.0
77,1615,strang write tic tri train economist tend use ...,0,0.0
81,3309,world live find check news regularli sunday wi...,0,0.0
88,3297,challeng face gnumber includ vaccin world clim...,0,0.0
93,1954,custom want safeti viru provid incent busi sup...,0,0.0
98,2617,expect immedi stabil effect yesterday currenc ...,0,0.0
99,6534,get catch w ramit kramerbook celebr new teach ...,0,0.0

In [12]:
test_df[(test_df['labels'] ==  1)]

,index,text,labels,predict_label
0,1188,risk creat last problem share unemploy jobless...,1,1.0
2,247,like go http t co numberfjigpkzt,1,0.0
4,2836,differenti growth rate good import export rise...,1,0.0
7,1859,covid relat hospit nytim deltavari http t co h...,1,1.0
8,4446,look like amaz sport total buy season ticket h...,1,0.0
...,...,...,...,...
1331,881,effici mean public health advic direct trust e...,1,NaN
1333,1253,econom crisi disproportion hurt poor extraordi...,1,NaN
1335,2167,number initi jobless claim fall rel prior week...,1,NaN
1336,3728,http t co fwnumbereikjvyx,1,NaN
1340,2138,instead mint platinum coin mint photo nft phot...,1,NaN

In [13]:
test_df[(test_df['labels'] ==  1) & (test_df["predict_label"] == 1)]

,index,text,labels,predict_label
0,1188,risk creat last problem share unemploy jobless...,1,1.0
7,1859,covid relat hospit nytim deltavari http t co h...,1,1.0
9,217,mean thing account account glutton punish lond...,1,1.0
10,5369,earn save invest john wesley,1,1.0
14,1593,compani exposur countri risk come oper lazi am...,1,1.0
18,473,sureshkarur vote googl sharehold worth vote no...,1,1.0
27,2432,gm notabl market develop overnight includ reco...,1,1.0
28,3666,wsj inflat polit narr ahead elect season http ...,1,1.0
29,1703,consist compani signal includ hike wage offer ...,1,1.0
30,4773,regard news wide expect trigger cross default ...,1,1.0
31,736,tri kill yossarian tell calmli tri kill clevin...,1,1.0
35,2306,octob rememb investor strong return record hig...,1,1.0
36,5394,let pretend work washington play pick number a...,1,1.0
39,676,oh relat news advis scott atla background infe...,1,1.0
40,1174,drive covid casual basic shoe lace,1,1.0
45,3194,januari effect stock start year absent number ...,1,1.0
46,1554,correct soon peopl know confid expertis field ...,1,1.0
48,503,hubri conspiraci monger hydroxychloroquin pump...,1,1.0
50,1471,difficult question ask vaccin long divis quick...,1,1.0
51,1144,brutal ironi gsaemili look new job know curren...,1,1.0
52,2874,theeconomist polit dimens inflat uncomfort tru...,1,1.0
53,179,appear algo accumul gold futur ~number minut ~...,1,1.0
55,535,deliv coronaviru strategi healthcar plan repla...,1,1.0
56,3203,datum updat number number week remind risk go ...,1,1.0
57,5961,number% peak disinfl http t co gnttgnumberyilr,1,1.0
59,1158,lemm add know janet year peopl make want well ...,1,1.0
61,6674,blue horsho love twtr cool twitter twtr cashta...,1,1.0
63,5187,big legisl surpris dc past number year basic o...,1,1.0
65,1897,way traffic cambridg path http t co tdnumberva...,1,1.0
67,3653,univers oblig sens neil degrass tyson,1,1.0
68,6629,hilari stock crater statist insignific dip une...,1,1.0
70,2115,paytm found number expand product suit relentl...,1,1.0
72,1374,love nft join class asset valu mainli peopl th...,1,1.0
73,763,year trump extraordinari number opportun conde...,1,1.0
74,5152,like claim vindic valu attribut converg chanc ...,1,1.0
76,3479,defin moment crypto give cnbc report increas u...,1,1.0
78,5638,number merced benz numbersl http t co xbnumber...,1,1.0
82,5570,earn season way get number month soft headlin ...,1,1.0
83,5091,sum neg gdp growth print week occur trigger re...,1,1.0
84,4381,wsj economi inflat econtwitt market http t co ...,1,1.0
85,2954,link morn convers cnn jchatterleycnn thank jul...,1,1.0
90,5406,earli tweet analyt direct intellectu honesti t...,1,1.0
91,3434,post yesterday morn thought global economi mar...,1,1.0
92,2347,build prior tweet market bank canada go market...,1,1.0
95,3148,move earli trade session includ number bp spik...,1,1.0
96,381,surpris young compani intent disrupt tradit bu...,1,1.0
97,4836,crypto save account yield bank save account su...,1,1.0

In [14]:
test_df[(test_df['labels'] ==  0) & (test_df["predict_label"] == 1)]

,index,text,labels,predict_label
1,5711,hous random vacanc number tie hous jeopardi st...,0,1.0
6,334,look forward talk valuat number day seminar wa...,0,1.0
13,4169,lot econom polit social interest today cpi inf...,0,1.0
16,3825,exactli work econ number class take preominant...,0,1.0
19,3360,young un want add addit tomorrow sday http t c...,0,1.0
20,743,power vest cdc withdraw earli guidanc beer o'c...,0,1.0
22,2534,good morn wish good week mix econom activ datu...,0,1.0
24,6224,turkey central bank continu defianc econom fin...,0,1.0
33,5015,headlin cpi rise number number% june tad marke...,0,1.0
34,3023,speak rise yield number year govern bond germa...,0,1.0
37,4615,huge fine schwab numberm context robo gener ~n...,0,1.0
42,6311,nearli investor panic sell buy equiti studi no...,0,1.0
47,132,like tesla stori number share continu use debt...,0,1.0
49,3349,spend day trek caribbean jungl find alphaarchi...,0,1.0
60,3931,bad monthli perform s&amp;p nasdaq number numb...,0,1.0
66,1405,low neg cashflow bulk valu come growth asset y...,0,1.0
69,2515,wsj chart canada inflat annual rate come numbe...,0,1.0
79,6234,clip morn convers melissaleecnbc squawkcnbc ht...,0,1.0
86,5764,politico vtgnumber fed chair powel hit wyom re...,0,1.0
87,1782,reunit stroopwafel unit unit http t co numbert...,0,1.0

In [15]:
test_df[(test_df['labels'] ==  1) & (test_df["predict_label"] == 0)]

,index,text,labels,predict_label
2,247,like go http t co numberfjigpkzt,1,0.0
4,2836,differenti growth rate good import export rise...,1,0.0
8,4446,look like amaz sport total buy season ticket h...,1,0.0
11,3767,esg utopian believ problem esg mi measur misus...,1,0.0
12,5963,number year ago crystal ball reveal russian de...,1,0.0
21,5048,think elon regret buy associ internet meme weirdo,1,0.0
23,4271,headlin today dailymailuk ft articl novemb inf...,1,0.0
25,6577,number weekend read http t co qaenumberznumber...,1,0.0
32,5477,new laguardia massiv improv decad ago http t c...,1,0.0
43,3662,spectacular view fli laguardia night http t co...,1,0.0
44,5144,compani earn report good news sustain growth l...,1,0.0
54,3226,high inflat increas odd high rate short term i...,1,0.0
62,6648,turkey inflat septemb come number number% heav...,1,0.0
64,5210,got to ask kemp warnock voter know think poll ...,1,0.0
71,1446,economist owe great radiosmith debt gratitud m...,1,0.0
80,2227,year prize reaffirm trend see year want win pr...,1,0.0
89,3781,think larg number pixel suspend effici market ...,1,0.0
94,4764,come weekend mib interview ⁦ perth_tolle⁩ go t...,1,0.0